body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('https://cloudfront-us-east-2.images.arcpublishing.com/reuters/5MTIZKPORVJA3KRGMQ7MFRFRJQ.jpg'); /* Add this line */
    background-size: cover;
}

#home-btn {
    border: 3px solid;
    border-radius: 10px;
    margin-left: 35%;
    width: 25%;
    color: aliceblue;
    background-color: green;
    text-align: center;

}
#search-form {
    margin-top: 25px;
    margin-left: 35%;
    width: 25%;
}

#result-container {

    margin-top: 30px;
    margin-left: 35%;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

label {
    width: 98%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result-container {
    margin-top: 20px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
