
input {
    padding: 0.125rem;
    margin: 0.25rem;
}

.lbl {
    margin-left: 1rem;
}

.input-set {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.quest-set {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1C6EA4;
   box-shadow: 3px 3px 3px 3px #090101;
    margin: 10px auto 0;
    width: 200px;
    height: 60px;
    color: gold;
    padding: 5px;
   
}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 65, 226);
    
}

.btn-set {
    display: flex;
    width: 200px;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;




}