:root {
    --blue-2: #1C6EA4;
    --neon-pink-2: #ff5cfa;
    --neon-pink-3: #ff00f7;
}

input {
    float: left;
    padding: 0.125rem;
    margin: 0.25rem;
}

.lbl {
    margin-right: 0;
}

.quest-set {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: var(--blue-2);
    box-shadow: 2px 2px 2px 2px #090101;
    margin: 10px auto 0;
    color: var(--neon-pink-2);
    padding: 5px;
    border: solid white;
    border-radius: .5em;
    text-align: left;
    width: 400px;  
}

.questions-group {
    margin: 0 1rem;
}

input.quest-input {
    margin: 06px;
    width: 20px;
    height: 20px;
}

#btn-div {
    margin: 25px;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#details-div {
    display: block;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1em 0;
    padding: 1em;
    text-size-adjust: auto;
    color: var(--neon-pink-3);
    background-color: var(--blue-2);
    border-radius: .5em;
    
}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

#main-div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#name-div, #email-div {
    width: 100%;
}

#questions-div {
    display: flex;
    flex-direction: row;
}

#reset-btn, 
#submit-btn {
    width: 150px;
    margin: 10px;
    border: solid white;
    border-radius: .5em;
    background-color: var(--blue-2);
    color: var(--neon-pink-2);
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px #090101;
}

.main-basic-div {
    background-image: url('../imgs/night-vegas.png');
}
.main-premium-div {
    background-image: url('../imgs/shutterstock_1870427674.jpg');
}
