

.main-basic-div {  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    background-image: url('../imgs/night-vegas.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}
.main-premium-div {  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    background-image: url('../imgs/vegas-exotic-limo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
}


input {
    float: left;
    padding: 0.125rem;
    margin: 0.25rem;
}

.lbl {
    margin-right: 0}

.quest-set {
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1C6EA4;
    box-shadow: 3px 3px 3px 3px #090101;
    margin: 10px auto 0;
    color: gold;
    padding: 5px;
    border: solid white;
    border-radius: 10px;
    text-align: left;
    width: 400px;  
}

.questions-group {
    margin: 0 1rem;
}

input.quest-input {
    margin: 06px;
    width: 20px;
    height: 20px;
}

#btn-div {
    margin: 25px;
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#details-div {
    display: block;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem 0;
    padding: 5px;
    text-size-adjust: auto;
    color: gold;
    
}

#form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    opacity: 1;
}

#name-div, #email-div {
    width: 100%;
}

#questions-div {
    display: flex;
    flex-direction: row;
}

#reset-btn, #submit-btn{
    width: 150px;
    margin: 10px;
    border: solid 5px white;
    border-radius: 10px;
}

#reset-btn {
    background-color: orange;
}

#submit-btn {
    background-color: green;
}
