.button-1,
.button-2 {
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 25px;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(
    to right,
    rgb(164, 28, 164) 0%,
    rgb(155, 35, 203) 50%,
    rgb(94, 20, 117) 100%
  );
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}
.button-1:hover {
  background: #a4491c;
}
.button-2:hover {
  background: #a4a21c;
}

.button-1:active {
  background: #417514;
}
.button-2:active {
    background: #5d1475;
  }
  
  #button2 {
    position: absolute;
    top: 50px;
   right: 25px;
    
  }


#button {
  position: absolute;
  top: 50px;
  left: 300px;
}

.carousel-item{
  border: 10px solid rgb(240, 154, 7);
    border-radius: 10px;
  width: 25%;
  height: 100%;

 
}