* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    display: flex;
    justify-content: center;
    align-items:center ;
}
.header {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    font-family:'Monoton', sans-serif;
    font-size: 48px;
    color: aliceblue;
    text-shadow: 0 0 10px gold,
                 0 0 20px gold,
                 0 0 40px gold,
                 0 0 80px gold,
                 0 0 100px gold,
                 0 0 150px gold;
}


h1 {
    display: flex;
    justify-content: center;
    font-family:'Lato', sans-serif;

}


.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.main1, .main2 {
    position: relative;
    background-color: transparent;
    border-radius: 20px;
    backdrop-filter: blur(55px);
    padding: 2rem 3rem;
}

.main1{

    border: 5px solid green;
}
.main2{
    border: 5px solid goldenrod;
}


.btn, .redirectionBTN {
    border: solid 1px ;
    width: 100%;
    border-radius: 20px;
}


#carouselExampleRide {
    border: 10px solid rgb(240, 154, 7);
    border-radius: 10px;
}

.carousel-item {
    height: 480px;
}

.carousel-img {
    height: 100%;
    object-fit: fill;
}

footer {
    margin-top: 10px;
    background-color: darkslategray;
    color: goldenrod;
}
.footer {
    border: border-box;
    display: block;
    justify-content: space-evenly;
    align-items: center;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
    border: border-box;

 }

 .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

