* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    display: flex;
    justify-content: center;
    align-items:center ;
    background-image: radial-gradient (#588285, #4e4e88 , #787888);
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    
}




.header {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    font-family:'Monoton', sans-serif;
    font-size: 48px;
    color: aliceblue;
    text-shadow: 0 0 10px gold,
                 0 0 20px gold,
                 0 0 40px gold,
                 0 0 80px gold,
                 0 0 100px gold,
                 0 0 150px gold;
}


h1 {
    display: flex;
    justify-content: center;
    font-family:'Lato', sans-serif;
}



.left-container {
    background-color: green;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: darkslategray;
}

.left-container .butt {
    position: relative;
    height:58px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
   
}


.left-container .butt::before {
    content: "";
    position: absolute;
    height: 57px;
    width: 95%;
    background: conic-gradient(60deg, #f409f3, #03f855);
    border-radius: 3px;
    animation: anos 2s linear infinite;
    overflow: hidden;
}

.left-container .butt:nth-child(1)::before {
    animation: anos 4s linear infinite;
    background: linear-gradient(60deg, #8a09f4, #08ffad);
}

.left-container .butt:nth-child(2)::before {
    animation: anos 5s linear infinite 1s;
    background: linear-gradient(60deg, #f4093c, #05bbf2);
}

.left-container .butt:nth-child(3)::before {
    animation: anos 3s linear infinite 2s;
    background: linear-gradient(60deg, #40f409, #daf205);
}

.left-container .butt:nth-child(4)::before {
    animation: anos 6s linear infinite 1s;
    background: linear-gradient(60deg, #f40909, #7f05f2);
}

.left-container .butt::after {
    content: "";
    position: absolute;
    height: 56px;
    width: 94.5%;
    background: rgb(86, 86, 110);
    border-radius: 5px;
    overflow: hidden;
    
}

.left-container .butt a:hover {
    font-size: 35px;
    color: #bcff02c2;
    transition: 1s;
    text-shadow: 1px 1px 50px 9EB3C2;
    
}

.left-container .butt a {
    color: #3f3d4d;
    font-size: 25px;
    font-weight: 800;
    z-index: 3;
    transition: 2s;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

@keyframes anos {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.right-container {
    background-color: darkslategrey;
    color: rgb(190, 218, 32);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: left;
    font-size: 26px;   
}




.accordion {
    margin: 20px 0 20px 0;
}
.accordion-button {
    background-color: darkslategray;
    color: goldenrod;
}


.optionswrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    flex-wrap: wrap;

}

.options {
    border: solid 1px grey;
    margin: 15px;
}

.redirectionBTN {
    width: 100%;
    background-color: rgb(91, 20, 223);
    color: goldenrod;
    border: solid 1px green;
    font-size: large;

}

#carouselExampleRide {
    
    border-radius: 6px;
    margin: 5px;
    width: 60%;
    z-index: 1;
    position: relative; /* Added for positioning pseudo-elements */

    /* Pseudo-elements */
    &::before,
    .carouselExampleRide::after {
        content: "";
        position: absolute;
        left: -2px;
        top: -2px;
        background: linear-gradient(45deg, yellow, orange, red, pink, purple, orange, green);
        background-size: 400%;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        z-index: -1px;
        animation: animate 20s linear infinite;
    }

    @keyframes animate {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    /* Pseudo-element for blur effect */
    &::after {
        filter: blur(40px);
    }
}
.carousel-item {
    height: 640px;
    z-index: 1;
}

.carousel-img {
    height: 100%;
    object-fit: fill;
    z-index: 1;
}

footer {
    background-color: darkslategray;
    color: goldenrod;
}
.footer {
    margin: 5px;
    border: border-box;
    display: block;
    justify-content: space-evenly;
    align-items: center;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
    border: border-box;

 }

 .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 @media screen and (min-width: 480px) {
    body {
      background-color: rgb(248, 248, 236);
    }
  }


