* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.background {
    display: flex;
    justify-content: center;
    align-items:center ;
    background: rgb(54, 68, 122);
}


  

.header {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    font-family:'Monoton', sans-serif;
    font-size: 48px;
    color: aliceblue;
    text-shadow: 0 0 10px gold,
                 0 0 20px gold,
                 0 0 40px gold,
                 0 0 80px gold,
                 0 0 100px gold,
                 0 0 150px gold;
}


h1 {
    display: flex;
    justify-content: center;
    font-family:'Lato', sans-serif;

}

.butt {
	position: absolute;
	top: 15%;
    left: 7%;
	height: 80px;
	width: 260px;
	border-radius: 8px;
	align-items: center;
	align-content: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
	
}
.butt:nth-child(2) {
    top: 33%;
}

.butt:nth-child(3) {
    top: 52%;
}

.butt:nth-child(4) {
    top: 71%;
}

.butt::before{
	position: absolute;
	content: "";
	height: 77px;
	width: 270px;
    background: linear-gradient(60deg, #f409f3, #05ddf2);
	animation: anos 5s  linear infinite;
}

.butt:nth-child(1)::before {

    animation: anos 7s linear infinite;
	background: linear-gradient(60deg,#8a09f4,#08ffad);
}

.butt:nth-child(2)::before {
	
    animation: anos 5s linear infinite 1s; 
	background: linear-gradient(60deg,#f4093c,#05bbf2);/* Delay the animation by 1 second */
}

.butt:nth-child(3)::before {
    animation: anos 5s linear infinite 2s;
	background: linear-gradient(60deg,#40f409,#daf205); /* Delay the animation by 2 seconds */
}

.butt:nth-child(4)::before {
    animation: anos 5s linear infinite 3s;
	background: linear-gradient(60deg,#f40909,#7f05f2); /* Delay the animation by 3 seconds */
}
.butt::after{
	position: absolute;
	content: "";
	height: 76px;
	width: 256px;
	background: rgb(37, 37, 65);
	border-radius: 10px;
}


@keyframes anos{
	0%
	{
		transform: rotate(0deg);
	}
	100%
	{
		transform: rotate(350deg);
	}
    
}
.butt a:hover{
	color: #b3f205c2;
	transition: 2s;
	display: block;
	text-shadow: 1px 1px 50px rgb(255, 255, 255);
}





.butt a{
   color: #1a1a1a;
   font-size: 23px;
   font-weight: 800;
   z-index: 3;
   transition: 2s;
   width: 100%;
   text-align: center;
   text-decoration: none;
}



.accordion {
    margin: 20px 0 20px 0;
}
.accordion-button {
    background-color: darkslategray;
    color: goldenrod;
}


.optionswrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: right;
    flex-wrap: wrap;

}

.options {
    border: solid 1px grey;
    margin: 15px;
}

.redirectionBTN {
    width: 100%;
    background-color: rgb(91, 20, 223);
    border: solid 1px green;

}

#carouselExampleRide {
    border: 5px solid rgb(30, 19, 46);
    border-radius:6px;
    margin: 20px;
   margin-left: 60px;
    width: 60%;
    left: 7%;
    
	
	
   
}

.carousel-item {

    height: 640px;
}

.carousel-img {
    height: 100%;
    object-fit: fill;
}

footer {
    margin-top: 10px;
    background-color: darkslategray;
    color: goldenrod;
}
.footer {
    border: border-box;
    display: block;
    justify-content: space-evenly;
    align-items: center;
}

.footerWrapper {
    display: flex;
    justify-content: space-evenly;
    border: border-box;

 }

 .copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

