body {
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/1*vjQ_DkaFj3YGOFDf1ryB-g.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #f7f7f700;
}

h1,h2 {
    text-align: center;
    color: #ff0800; 
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bolder;
}

#eventForm {
    width: 50%;
    margin: 20px auto;
    background: #ffffff69;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 6px;
    color: #333;
}

input[type="text"],
input[type="number"],
button {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #777; 
    border-radius: 4px;
}

input[type="text"]:focus,
input[type="number"]:focus {
    outline: none;
    border-color: #ffcc00; 
}

button {
    background-color: #ff0000; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #000000; 
    color: white;
}


.event-info {
    text-align: center;
}

.event-info {
    color: white;
}

@media (max-width: 768px) {
    #eventForm {
        width: 90%;
    }
}
